
:root {
    --dark-text: #082753;
    --light-text: #9b9a9f;;
    --body-blue: #483eff;
    --background: #eef5ff;
    --circle: #c8c6ff;
}
html {  
    background-color:var(--background);
    font-family: "Poppins", sans-serif;
}
#casing {
    display:flex;
    justify-content:center; 
    align-items:center;
    flex-direction:column;
    width:100%;
    height:100%;
}
#main-body {
    background-color:white;
    height:400px;
    width:650px;
    border-radius:25px;
    display:flex;
    box-shadow: 2px 2px #b4bfcf;
}

#left-box {
    background-color:var(--body-blue);
    height:380px;
    width: 180px;
    margin:10px;
    border-radius:20px;
    position:absolute;
}

#left-box img {
    height:200;
    border-radius:20px;
    width:180px;
    translate: 0px -252px;
}
ul {
    list-style-type:none;
}
#loading-field {
    width:540px;
    align-self:flex-start;
   
    margin:30px;
    display:flex;
    justify-content:center;
    translate:70px ;
}
#loading-content {
   
    display:flex; 
    flex-direction:column;
    width:300px;
    align-content: flex-start;
}
#loading-content h1 {
    color: var(--dark-text);
    margin: bottom 15px;    
    font-weight:900px;;
    line-height:15px;
    font-size:20px;
}
#headline p {
    color:var(--light-text);
    font-size:9px;
}
.inputs {
    font-size:9px;
    height: 30px;
    width:340px;
    border: var(--light-text) solid 1px;
    padding-left:10px;
    margin-top:5px;
    border-radius:8px;
}
.inputtitle{
    font-family:Arial, Helvetica, sans-serif;
    font-size:9px;
    margin-bottom:0px;
    font-weight:700;
    color: var(--dark-text);
}

.input-box p{
    font-size:10px;
    height:15px;
}

button{
    width:70px;
    height:24px;
    font-size:9px;
    align-self:flex-end;
    margin-top:50px;
    background-color:var(--dark-text);
    border:none;
    color: white;
    border-radius:8px;
    translate: 40px;
}

button:hover {
    background-color:var(--body-blue)
}
.myfrustration{
   display:flex;
   
   width:180px;
   flex-direction:column;
   
    
    height:400px;
}
.circle {
    height:20px;
    width:20px;
   
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    translate: 0 3px;
    font-size:12px;
    border:var(--circle) solid 2px; 
    background-color:var(--body-blue);
    color:var(--circle);
}
.item {
    max-height:100px;
    display:flex; 
    line-height:20px;
    flex-direction:row;
    flex-wrap:wrap;
}
.overtext{
     translate:8px -15px;
     font-size:12px;  
     font-weight:300;
     color:var(--circle)
}
.setting {
    translate:-28px ;
    font-size:12px;
    color:white;
    
}
ul {
    translate:-15px;
}
li {
    margin-bottom:0px;
}
#empty-circle{
    background-color:var(--background);
    color:black;
}
#troublemaker{
    translate: -24px 0px;
}